/* line 1, sass/_grid.scss */
.grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 7, sass/_grid.scss */
.grid-cell {
  flex: 1;
  box-sizing: border-box;
}
/* line 11, sass/_grid.scss */
.grid-cell .content {
  padding: .8em 1em 0;
  margin-bottom: 1em;
}

/* With gutters*/
/* line 21, sass/_grid.scss */
.grid-gutters {
  margin-left: -1em;
}
/* line 23, sass/_grid.scss */
.grid-gutters .grid-cell {
  padding-left: 1em;
  box-sizing: border-box;
}
/* line 29, sass/_grid.scss */
.grid-gutters .grid-nested .grid-cell:first-of-type .content {
  margin-right: 1em;
}

/* Justify per row*/
/* line 40, sass/_grid.scss */
.grid-right {
  justify-content: flex-end;
}

/* line 43, sass/_grid.scss */
.grid-center {
  justify-content: center;
}

/* Alignment per row */
/* line 48, sass/_grid.scss */
.grid-top {
  align-items: flex-start;
}

/* line 51, sass/_grid.scss */
.grid-bottom {
  align-items: flex-end;
}

/* line 54, sass/_grid.scss */
.grid-center {
  align-items: center;
}

/* Alignment per cell */
/* line 59, sass/_grid.scss */
.grid-cell-top {
  align-self: flex-start;
}

/* line 62, sass/_grid.scss */
.grid-cell-bottom {
  align-self: flex-end;
}

/* line 65, sass/_grid.scss */
.grid-cell-center {
  align-self: center;
}

/* line 70, sass/_grid.scss */
.navigation {
  list-style: none;
  margin: 0 0 1em;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
}

@media all and (max-width: 800px) {
  /* line 80, sass/_grid.scss */
  .navigation {
    justify-content: space-around;
  }
}
@media all and (max-width: 600px) {
  /* line 86, sass/_grid.scss */
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  /* line 90, sass/_grid.scss */
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  /* line 96, sass/_grid.scss */
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
/*===========================================*/
/* Base classes for all media - Mobile first */
/* line 105, sass/_grid.scss */
.grid-cols-2 > .grid-cell {
  flex: 0 0 100%;
}

/* line 109, sass/_grid.scss */
.grid-cols-3 > .grid-cell {
  flex: 0 0 100%;
}

/* line 113, sass/_grid.scss */
.grid-cols-4 > .grid-cell {
  flex: 0 0 100%;
}

/* line 117, sass/_grid.scss */
.grid-cols-6 > .grid-cell {
  flex: 0 0 calc(50% - 1em);
}

/* line 121, sass/_grid.scss */
.grid-cols-12 > .grid-cell {
  flex: 0 0 calc(33.3333% - 1em);
}

/* line 126, sass/_grid.scss */
.grid-aside .aside, .grid-aside .main {
  flex: 1 100%;
}

/* One of - columns*/
/* line 134, sass/_grid.scss */
.grid-one-half > .grid-cell,
.grid-one-fourth > .grid-cell:first-of-type,
.grid-one-third > .grid-cell:first-of-type {
  flex: 0 0 100%;
}

/* line 137, sass/_grid.scss */
.grid-one-sixth > .grid-cell:first-of-type {
  flex: 0 0 50%;
}

/* line 141, sass/_grid.scss */
.grid-fit > .grid-cell {
  flex: 1;
}

/* line 144, sass/_grid.scss */
.grid-full > .grid-cell {
  flex: 0 0 100%;
}

/* Tablet (medium) screens */
@media (min-width: 30em) {
  /* line 150, sass/_grid.scss */
  .grid-cols-4 > .grid-cell {
    flex: 0 0 calc(50% - 1em);
  }

  /* line 153, sass/_grid.scss */
  .grid-cols-6 > .grid-cell {
    flex: 0 0 calc(33.3333% - 1em);
  }

  /* line 156, sass/_grid.scss */
  .grid-cols-12 > .grid-cell {
    flex: 0 0 calc(16.6666% - 1em);
  }

  /* line 160, sass/_grid.scss */
  .grid-aside .aside {
    flex: 1 calc(25% - 1em);
  }

  /* line 164, sass/_grid.scss */
  .grid-one-half > .grid-cell {
    flex: 0 0 50%;
  }

  /* line 167, sass/_grid.scss */
  .grid-one-sixth > .grid-cell:first-of-type {
    flex: 0 0 30%;
  }

  /* line 170, sass/_grid.scss */
  .grid-one-fourth > .grid-cell:first-of-type {
    flex: 0 0 50%;
  }

  /* line 173, sass/_grid.scss */
  .grid-one-third > .grid-cell:first-of-type {
    flex: 0 0 100%;
  }
}
/* Large screens */
@media (min-width: 48em) {
  /* line 184, sass/_grid.scss */
  .grid-cols-2 > .grid-cell,
  .grid-cols-3 > .grid-cell,
  .grid-cols-4 > .grid-cell,
  .grid-cols-6 > .grid-cell,
  .grid-cols-12 > .grid-cell {
    flex: 1;
  }

  /* line 188, sass/_grid.scss */
  .grid-aside .main {
    flex: 2;
  }
  /* line 189, sass/_grid.scss */
  .grid-aside .aside {
    flex: 1;
  }
  /* line 190, sass/_grid.scss */
  .grid-aside .aside-1 {
    order: 1;
  }
  /* line 191, sass/_grid.scss */
  .grid-aside .main {
    order: 2;
  }
  /* line 192, sass/_grid.scss */
  .grid-aside .aside-2 {
    order: 3;
  }

  /* line 194, sass/_grid.scss */
  .grid-one-half > .grid-cell {
    flex: 0 0 50%;
  }

  /* line 197, sass/_grid.scss */
  .grid-one-sixth > .grid-cell:first-of-type {
    flex: 0 0 16.6666%;
  }

  /* line 200, sass/_grid.scss */
  .grid-one-fourth > .grid-cell:first-of-type {
    flex: 0 0 25%;
  }

  /* line 203, sass/_grid.scss */
  .grid-one-third > .grid-cell:first-of-type {
    flex: 0 0 30%;
  }

  /* line 208, sass/_grid.scss */
  .grid-gutters.grid-nested .grid-cell:first-of-type .content {
    margin-right: 0;
  }
}
/* line 1, sass/_global.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* line 5, sass/_global.scss */
.wrapper {
  max-width: 1200px;
  margin: auto;
}

/* line 11, sass/_global.scss */
h1 {
  font-size: 2em;
}

/* line 12, sass/_global.scss */
h2 {
  font-size: 1.8em;
}

/* line 13, sass/_global.scss */
h3 {
  font-size: 1.5em;
}

/* line 14, sass/_global.scss */
h4 {
  font-size: 1.3em;
}

/* line 16, sass/_global.scss */
p {
  margin-top: 0;
  font-size: 1em;
}

/* line 1, sass/_custom.scss */
.content {
  background: #eeeeee;
  transition: background-color 0.3s ease;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
/* line 7, sass/_custom.scss */
.content.header-layout {
  background: #eeeeee;
}
/* line 9, sass/_custom.scss */
.content.header-layout:hover {
  background: #dddddd;
}
/* line 14, sass/_custom.scss */
.content:after {
  content: "";
  display: block;
  margin-top: .8em;
  height: 1px;
}
/* line 20, sass/_custom.scss */
.content:hover {
  background: #dddddd;
}

/* line 25, sass/_custom.scss */
.navigation {
  background: #eeeeee;
  margin: 0 0 1em;
  border: 1px solid #cccccc;
  border-radius: 3px;
}
/* line 30, sass/_custom.scss */
.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #333;
}
/* line 35, sass/_custom.scss */
.navigation a:hover {
  background: #d4d4d4;
  border-radius: 3px;
}
/* line 40, sass/_custom.scss */
.navigation:hover {
  background: #dddddd;
}

/* line 47, sass/_custom.scss */
.content-one::before {
  content: "1";
}

/* line 48, sass/_custom.scss */
.content-one-half::before {
  content: "1/2";
}

/* line 49, sass/_custom.scss */
.content-one-third::before {
  content: "1/3";
}

/* line 50, sass/_custom.scss */
.content-one-fourth::before {
  content: "1/4";
}

/* line 51, sass/_custom.scss */
.content-one-sixth::before {
  content: "1/6";
}

/* line 52, sass/_custom.scss */
.content-one-twelveth::before {
  content: "1/12";
}

/* line 2, sass/_utilities.scss */
.pull-left {
  float: left;
}

/* line 3, sass/_utilities.scss */
.pull-right {
  float: right;
}
