//FONTS
$font-primary: 'Open Sans', sans-serif;

// FONT WEIGHT
$light:	300;
$book:	400;
$medium: 500;
$demi:	700;
$heavy: 900;

// FONT COLOR
$white: #fff;
$black: #000;
$auto: #333;

$demoMain: #eee;
$demoMainDark: #ddd;
$demoBorder: #ccc;
$demoHeader: #eee;
$demoHeaderDark: #ddd;

